.container{
    display:flex;
    padding: 25px;
    padding-top: 50px;
}
.card1{
    margin-left: 200px;
    width:310px;
    height: 550px;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 20px;
    background-color: rgb(191, 211, 248);
    padding-bottom: 20px;
    font-size: 20px;
}

.card2{
    margin-left: 30px;
    width:310px;
    height: 550px;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 20px;
    background-color: rgb(191, 211, 248);
    padding-bottom: 20px;
    font-size: 20px;
}

.card3{
    margin-left: 30px;
    width:310px;
    height: 550px;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 20px;
    background-color: rgb(191, 211, 248);
    padding-bottom: 20px;
    font-size: 20px;
}
input[type=text],input[type=password],input[type=email]{
    width:250px;
    background-color: rgb(233, 238, 238);
    border-radius: 5px;
    border-width: 3px;
    border-color: rgb(238, 244, 244);
}
input[type=date],input[type=month]{
    width:250px;
    background-color: rgb(233, 238, 238);
    border-radius: 5px;
    border-width: 3px;
    border-color: rgb(238, 244, 244);
}
input[type=week]{
    width:250px;
    background-color: rgb(233, 238, 238);
    border-radius: 5px;
    border-width: 3px;
    border-color: rgb(238, 244, 244);
}
.card2 select{
    width:250px;
    background-color: rgb(233, 238, 238);
    border-radius: 5px;
    border-width: 3px;
    border-color: rgb(238, 244, 244);
}
.card2 textarea{
    width:250px;
    background-color: rgb(233, 238, 238);
    border-radius: 5px;
    border-width: 3px;
    border-color: rgb(238, 244, 244);
}
input[type=submit],input[type=reset]{
    background-color:green;
    border: none;
    width:100px;
    border-radius:5px;
    padding: 5px;
    color:white
}
input[type=range]{
    width:200px;
}



   
    



